aws_region           = "us-east-1"
nbe_token            = "your-nbe-token"
nbe_console_password = "6chars"
nbe_admin_password   = "12characters"
postgres_password    = "yesql123"
cluster_name         = "my-test-cluster"